body {
  background-color: bisque;
  max-width: 1200px;
  margin: auto;
  padding: 0;
  text-align: center;
}

.navBar {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  list-style: none;
}

.navBar :hover {
  background-color: red;
} 

.navBar a {
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  height: 40px;
  border: 2px solid #fff;

}


.moviesTop {
  margin: auto;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.moviesTop img {
  width: 160px;
  height: 220px;
}

.moviesTop p {
  max-width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5em;
}

.header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main_header {
  padding: 5px;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 15;
  color: #fff;
  border: dashed 5px #fff;
  text-transform: uppercase;
}

.vote {
  color: #fff;
  background-color: green;
}

@media (max-width: 45em) { 
  .navBar {
    flex-direction: column;
  }
 }