body {
  background-color: bisque;
  max-width: 1200px;
  margin: auto;
  padding: 0;
  text-align: center;
}

.img {
  width: 185px;
  height: 278px;
}

.navBar {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  list-style: none;
}

.navBar :hover {
  background-color: rgb(255, 137, 227);
}

.navBar a {
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  height: 40px;
  border: 2px solid #fff;
  background-color: rgb(216, 29, 172);
}

.moviesTop {
  margin: 0;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.moviesTop a {
  text-decoration: none;
}

.header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main_header {
  padding: 5px;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 15;
  color: #fff;
  border: dashed 5px #fff;
  text-transform: uppercase;
}

.vote {
  color: #fff;
  background-color: green;
}

.movieCard {
  max-width: 185px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}

.name {
  color: rgb(61, 61, 255);
  text-decoration: none;
}

.description {
  margin: auto;
  display: flex;
  margin: 2em;
  max-width: 800px;
}

.description_text {
  margin-left: 2em;
  text-align: left;
}

@media (max-width: 45em) {
  .navBar {
    flex-direction: column;
  }

  .description {
    flex-direction: column;
  }
}
